body {
  background-color: rgb(0,0,10);
  color: #eef;
  font-family: monospace;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 100%;
}

p {
  
}

a {
  color: #06c;
  text-decoration: solid #06c underline;
}

a:hover{
  color: #39f;
  text-decoration: solid #39f underline;
}

div.problem {
  
}

.buttonlink, button {
  background-color: #39f7;
  color: #eef;
  font-family: monospace;
  font-size: 100%;
  padding: 6px;
  text-decoration: none;
  border: 0px solid rgb(0,0,10);
}

.buttonlink:hover, button:hover {
  background-color: #06f6;
  color: #eef;
  font-family: monospace;
  padding: 5px;
  text-decoration: none;
  border: 1px solid rgb(0,0,10);
}

button:disabled, button[disabled], button:disabled:hover, button[disabled]:hover {
  background-color: #eefa;
  padding: 6px;
  border: 0px solid rgb(0,0,10);
}

hr {
  border-color: #ddd;
}

.sample {
  border: 1px solid #eef;
}

.leaderboard {
  border: 1px solid #eef;
  border-collapse: collapse;
  padding: 5px;
}

option, select {
  background-color: #222;
  color: #eef;
  border: 1px solid black;
  padding: 3px;
}

input, textarea {
  background-color: #4444;
  color: #eef;
  font-family: monospace;
  font-size: 100%;
  border: 1px solid black;
  padding: 3px;
}

input::placeholder, textarea::placeholder, select::placeholder {

}

table{
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #eef;
  padding: 8px;
}

.problem_img {
  backgournd: #c8c8c8;
}

.inline_code {
  text-decoration: none;
  background-color: #ddd;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

canvas {
  border: 1px solid white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.centerButton {
  display: flex;
  justify-content: center;
  width: 20em;
}